
<style>
  .email_content{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 20px;
    max-width: 600px;
  }

</style>
<div class="email_content">
  <p>Olá {{name}}, o servidor {{serverName}} apresentou erro.</p>
  <p>Verifique por gentileza.</p>
  <p>mensagem de erro: {{error}}</p>

  <p>Obrigado.<br /> <strong>Equipe Collis</strong></p>
</div>
