
<style>
  .email_content{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 21px;
    max-width: 600px;
  }

</style>
<div class="email_content">
  <p>Olá {{name}}, foi solicitado um reset de senha de sua conta Collis.</p>
  <p>Se foi você, clique no link para fazer o reset da senha.</p>
  <a href={{link}}>resetar senha</a>
  <p>Caso não tenha sido você, descarte este email.</p>
  <p>Obrigado.<br /> <strong>Equipe Collis</strong></p>
</div>
